version: 2.1
orbs:
  react: thefrontside/react@0.2.0
workflows:
  push:
    jobs:
      - react/install
      - react/lint:
          requires:
            - react/install
      - react/test:
          requires:
            - react/install
