version: 2.1
orbs:
  react: thefrontside/react@0.2.0
workflows:
  push:
    jobs:
      - react/install
      - react/test:
          requires:
            - react/install
          steps:
            - run: yarn eslint src/**/*.ts{,x} --max-warnings=0 --format junit
